<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Our Website</title>
    <link rel="stylesheet" href="css/home.css" />

  </head>
  <body>
    <header>
      <h1>Welcome to Our Website</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><button id="logoutButton">Logout</button></li>
      </ul>
    </nav>
    <section class="main-content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae
        nisi ut eros tincidunt interdum.</p>
      <p>Sed dictum fringilla dui, sit amet convallis metus mollis et.</p>
    </section>
    <footer>
      <p>&copy; 2024 Your Website. All rights reserved.</p>
    </footer>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script
      src="https://polyfill.io/v3/polyfill.min.js?features=default%2Ces2015%2Ces20s16%2Ces2017%2Ces2018%2Ces2019"
    ></script>
    <script
      src="https://cdn.socket.io/3.1.3/socket.io.min.js"
      integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
      crossorigin="anonymous"
    ></script>
    <script src="js/matched.js"></script>

  </body>
</html>