<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>택시합승시스템</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="css/styles.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=15484ca530f93575a407402650b6a032&libraries=services"
    ></script>

  </head>
  <body>
    <div class="map_wrap">
      <div
        id="map"
        style="width:70%;height:70%;position:relative;overflow:hidden;"
      ></div>

      <div id="menu_wrap" class="bg_white">
        <div class="option">
          <div>

          </div>
        </div>
        <hr />
        <ul id="placesList"></ul>
        <div id="pagination"></div>
      </div>
    </div>
    <div style="overscroll-behavior: none">
      <div
        id="map"
        style="font-family: arial; margin: 100px; width: 500px; height: 500px;"
      ></div>

      <div class="w-1/2" style="display: flex; flex-direction: row;">

        <input
          type="text"
          id="originAddress"
          placeholder="출발지 주소를 입력하세요"
          class="w-full border border-gray-300 px-3 py-2 rounded-md mb-4"
        />
        <button
          id="searchOriginButton"
          class="bg-blue-500 text-white font-bold py-2 px-4 rounded mr-2"
          style="height: auto; line-height: 1;"
        >출발지 검색</button>
        <button
          id="setOriginButton"
          class="bg-blue-500 text-white font-bold py-2 px-4 rounded"
          style="height: auto; line-height: 1;"
        >출발지로 설정</button>
      </div>

      <div class="w-1/2" style="display: flex; flex-direction: row;">
        <input
          type="text"
          id="destinationAddress"
          placeholder="도착지 주소를 입력하세요"
          class="w-full border border-gray-300 px-3 py-2 rounded-md mb-4"
        />
        <button
          id="searchDestinationButton"
          class="bg-blue-500 text-white font-bold py-2 px-4 rounded mr-2"
          style="height: auto; line-height: 1;"
        >도착지 검색</button>
        <button
          id="setDestinationButton"
          class="bg-blue-500 text-white font-bold py-2 px-4 rounded"
          style="background-color: #3b82f6; height: auto; line-height: 1;"
        >도착지 설정</button>
        <button id="matching">매칭</button>
        <button id="logout">로그아웃</button>
        <button id="DriverMode">Driver Mode</button>
      </div>
    </div>

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script
      src="https://polyfill.io/v3/polyfill.min.js?features=default%2Ces2015%2Ces20s16%2Ces2017%2Ces2018%2Ces2019"
    ></script>
    <script
      src="https://cdn.socket.io/3.1.3/socket.io.min.js"
      integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
      crossorigin="anonymous"
    ></script>
    <script src="js/createMap.js" defer></script>
    <button id="sendButton">현재위치를 출발지로 설정</button>
  </body>
</html>