<html>
  <head>
    <meta charset="utf-8" />
    <title>인포윈도우 생성하기</title>

  </head>
  <body>
    <div id="mapForDriver" style="width:100%;height:350px;"></div>

    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=15484ca530f93575a407402650b6a032&libraries=services"
    ></script>

    <script src="js/createMap.js" defer></script>

  </body>
</html>