<html lang="en">
  <head>
    <link rel="manifest" href="manifest.json" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Passenger Matching</title>
    <script type="module">
      import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate'; const el =
      document.createElement('pwa-update'); document.body.appendChild(el);
    </script>
  </head>
  <body>
    <div>
      <h1>승객과 매칭중입니다</h1>
      <p>잠시만 기다려주세요...</p>
    </div>
  </body>
</html>