<html lang="en">
  <head>
    <link rel="manifest" href="manifest.json" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="css/signup.css" />
    <script type="module">
      import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate'; const el =
      document.createElement('pwa-update'); document.body.appendChild(el);
    </script>
  </head>
  <body>
    <div class="container">
      <h2>회원가입</h2>
      <form id="signup-form">
        <div class="form-group">
          <label for="username">이름:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="identityNumber">주민번호:</label>
          <input
            type="text"
            id="identityNumber"
            name="identityNumber"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">이메일:</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div class="form-group">
          <label for="password">비밀번호:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
          <label for="confirm-password">비밀번호 확인:</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            required
          />
        </div>
        <button type="submit" id="signup-button">가입하기</button>
      </form>
    </div>
    <script src="js/signup.js"></script>
  </body>
</html>