#passenger-button {
  position: absolute;
  right: 0;
  top: 0;
}
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto; /* Add this line to center align the element */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(70%);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.buffering {
  position: relative;
  left: 40%;
  display: inline-block;
  width: 250px;
  height: 250px;
  border: 15px solid #f3f3f3;
  border-top: 15px solid #3498db;
  border-radius: 50%;
  animation: spin 5s linear infinite;
  margin-top: 50px;
}

.taxi-icon {
  font-size: 50px;
  animation: move 5s linear infinite;
  margin-top: 50px;
}

body {
  background: #f0f3f5; /* 웹사이트의 배경색을 연한 회색으로 설정 */
}

h1 {
  font-size: 2.5em; /* 글꼴 크기를 크게 설정 */
  color: #3498db; /* 글꼴 색상을 파란색으로 설정 */
  text-align: center; /* 텍스트를 중앙 정렬 */
}
p {
  font-size: 1.5em; /* 글꼴 크기를 크게 설정 */
  color: #000000; /* 글꼴 색상을 검은색으로 설정 */
  text-align: center; /* 텍스트를 중앙 정렬 */
  animation: fade 5s infinite;
}

#logout {
  position: relative;
  left: 1%;
  z-index: 2;
  /* Frame 26 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 10px;

  position: absolute;
  width: 110px;
  height: 40px;
  left: 20%px;
  top: 33px;

  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.2);
  border-radius: 12px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #2b8cff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#passenger-button {
  z-index: 2;
  position: relative;
  left: 1%;

  /* Frame 26 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 10px;

  position: absolute;
  width: 110px;
  height: 40px;
  left: 20%px;
  top: 88px;

  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.2);
  border-radius: 12px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #2b8cff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  /* Frame 26 */
}

#finishDriveButton {
  z-index: 2;
  position: relative;
  left: 1%;

  /* Frame 26 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 10px;

  position: absolute;
  width: 110px;
  height: 40px;
  left: 20%px;
  top: 630px;

  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.2);
  border-radius: 12px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #2b8cff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  /* Frame 26 */
}

#buttons button {
  position: relative;
  left: 40%;

  background-color: #2b8cff;
  color: white; /* 글꼴 색상을 흰색으로 설정 */
  padding: 15px 32px; /* 버튼 내부의 패딩을 설정 */
  text-align: center; /* 텍스트를 중앙 정렬 */
  text-decoration: none; /* 텍스트 밑줄 제거 */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* 마우스 커서를 포인터로 설정 */
  border-radius: 4px; /* 버튼 테두리 둥글기 설정 */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* 버튼에 그림자 효과 추가 */
}
